body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}

header {
  color: whitesmoke;
  background-color: #282828;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;

  margin: 0;
  padding: 25px;
}

li {
  cursor: pointer;
}

.icon {
  width: 25px;
}
/* Position the menu icon  at the right-hand end of the ul element. The logo and location pin should remain where they are. */
.align-right {
  /* margin: 0 0 auto auto; */
  margin-left: auto;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.item {
  position: relative;
}

.item-img {
  /* block-level elements do not have whitespace on default */
  display: block;
  /*
   ===>  <img> tag is rendered as an Inline element; when we put this inside a container,the CSS border property is implemented, that is, an extra whitespace is also generated between the lower border of container and the image inside it; this is done originally, so that parts of letters in alphabet like g or y that drop below the line, do not overlap other elements
  */
  /* to make each img fit w/in the browser page  */
  width: 100%;
}

.caption {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 20px;

  /*
   Position the text and button at opposite
   ends of the parent element. Make sure that 
   there is always at least 20px of space 
   between the button and the text, even when 
   you make the browser narrower.
*/
  margin: 0 25px;
}

.img-banner {
  /* Position the image banner at the top left of the first image */
  position: absolute;
  top: 0;
  left: 0;

  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
}

button {
  /* 8. Stop the vertical stretch on the button */
  /* Centrally align the button on the vertical axis */
  /* 'align-self' can be useful when only 1 element in a container needs adjusting  */
  align-self: center;
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
}

.chatbox-bg {
  /* Position the chatbox in the bottom corner of the window, 6px from bottom and 6px from the right. 
  */
  position: fixed;
  bottom: 6px;
  right: 6px;

  background-color: #dda15e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999;

  display: flex;
}

.chatbox-img {
  /* Center the speech bubble image inside the circle. */
  margin: auto;

  width: 50%;
}
